a:link {
color: white;
background-color: transparent;
text-decoration: none;
}
a:visited {
color: white;
background-color: transparent;
text-decoration: none;
}
a:hover {
color: white;
background-color: transparent;
text-decoration: underline;
}
a:active {
color: white;
background-color: transparent;
text-decoration: underline;
}
table{
  background-color: black;
  height: 50px;
  position: fixed;
  top: 0;
    margin-right: 15px;
        z-index: 1;
}
td{
  width: 200px;
}
div#d1{
  font-size: 50px;
 padding: 20px;
 padding-left: 0px;
 font-family: "Maiandra GD";
}
div#d5{
  font-size: 30px;

 padding-left: 0px;
 font-family: "Maiandra GD";
 padding: 5px;
 padding-top:0px;
 background-color: black;
 color: white;

}
div#d6{
  font-size: 25px;
 padding: 20px;
 padding-left: 0px;
 font-family: "Maiandra GD";
}
div#d7{
  background-color: #a9ce46;
  font-size: 30px;
  font-family: "Arabic Typesetting";
  padding-bottom: 15px;
}
div#d8{
  background-color: LightGrey;
    font-size: 23px;
    font-family: "Arabic Typesetting";
    height: 700px;
}
img#img2{
  width: 100%;
  Height: 400px;
}
td#im{
  text-align: left;
}
table ,td{
  text-align: right;
  font-family: "Maiandra GD";
}
div#d2{
  background-color: black;
  height: 50px;
}
img#img1{
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
p#p1{
  font-size: 25px;
  font-family: "Arabic Typesetting";
}

div#d3{
  width: 50%;
  background-color: LightGrey;
    font-size: 23px;
    font-family: "Arabic Typesetting";
    flex:1;
}
div#d9{

  background-color: black;
  height: 200px;
}
div#d4{
  width: 50%;
  background-color: #a9ce46;
    font-size: 50px;
    font-family: "Monotype Corsiva";
    flex:1;
    padding-top: 30px;
    padding-bottom: 30px;
}
h2#h1{
  background-color: black;
  color: white;
  font-family: "Maiandra GD";
  margin-block-start: 0px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.im1{
  height: 200px;
  width: 300px;
  border-radius: 30px;


}
.im2{
  border-radius: 20px;
  margin-left: 20px;
}
.im3{
  border-radius: 50px;
  margin-left: 20px;
  margin-right: 25px;
}
.im4{

  padding-left: 565px;

}
p#p3{
  text-align: center;
  color: White;
  font-family: "Maiandra GD";
  padding-top: 30px;
  font-size: 30px;
  padding-bottom: 0px;
}
.container {
  position: relative;
  margin: 0 auto;
  float: left;
  width: 30%;
  padding: 5px;
}
.container img {vertical-align: middle;}
.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 95%;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 30px;
  height: 50px;
}
.content{
      margin-bottom: 5px;
}
p#sp2{
  text-align: right;
  padding-right: 150px;
}
